<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:trh="http://myfaces.apache.org/trinidad/html"
          xmlns:wf="http://xmlns.oracle.com/bpel/workflow/workflow-taglib.tld"
          xmlns:wlc="http://xmlns.oracle.com/bpel/workflow/worklist">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1" title="#{bindings.title.inputValue}">
      <af:messages id="m1"/>
      <af:resource type="javascript" source="/jsLibs/taskDetails.js"/>
      <af:resource type="javascript" source="/jsLibs/commonBPM.js"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/BasicTemplate.jspx" id="pt1">
          <f:facet name="logo"/>
          <f:facet name="userInfo"/>
          <f:facet name="task-action">
            <af:panelGroupLayout layout="vertical" id="pgl3">
              <af:toolbar visible="#{actionAvailable.toolbarAvailable}" id="t2">
                <af:switcher id="customActionButtons"
                             facetName="#{actionAvailable.isCustomActionButtons}">
                  <f:facet name="true">
                    <af:panelGroupLayout layout="horizontal" id="pgl1">
                      <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                               text="#{wf:getResourceValue('SUBMIT', 'bindings.customActions')}"
                                               disabled="#{!bindings.SUBMIT.enabled}"
                                               action="#{invokeActionBean.invokeOperation}"
                                               partialSubmit="false"
                                               visible="#{wf:isCustomActionAvailable('SUBMIT', 'bindings.customActions')}"
                                               id="ctb1">
                        <f:attribute name="DC_OPERATION_BINDING"
                                     value="bindings.SUBMIT"/>
                      </af:commandToolbarButton>
                    </af:panelGroupLayout>
                  </f:facet>
                </af:switcher>
                <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.CLAIM}" id="Claim"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.claimAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Claim"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="acknowledge"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.ACKNOWLEDGE}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.isFyiTask}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Acknowledge"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="resume"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.RESUME}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.resumeAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Resume"/>
                </af:commandToolbarButton>
                <af:panelGroupLayout id="pgl11" layout="horizontal">
                  <af:group rendered="#{!((empty actionAvailable.customActions) and (empty actionAvailable.redirectActions) and (empty actionAvailable.otherActions)) || bindings.update.enabled}"
                            id="g1">
                    <af:menuBar id="mb1">
                      <af:menu id="acts" text="#{resources.TASK_ACTIONS}"
                               visible="#{actionAvailable.actionsAvailable || bindings.update.enabled}">
                        <af:group id="g2">
                          <af:forEach var="childNode1"
                                      items="#{actionAvailable.customActions}">
                            <af:commandMenuItem textAndAccessKey="#{childNode1.displayName}"
                                                actionListener="#{invokeActionBean.setAction}"
                                                action="#{invokeActionBean.action}"
                                                partialSubmit="false" id="cmi2">
                              <f:attribute name="ACTION_MENU_ITEM"
                                           value="#{childNode1.action}"/>
                            </af:commandMenuItem>
                          </af:forEach>
                        </af:group>
                        <af:group id="g3">
                          <af:forEach var="childNode2"
                                      items="#{actionAvailable.redirectActions}">
                            <af:commandMenuItem textAndAccessKey="#{resources[childNode2]}"
                                                actionListener="#{invokeActionBean.setAction}"
                                                action="#{invokeActionBean.action}"
                                                partialSubmit="true" id="cmi1">
                              <f:attribute name="ACTION_MENU_ITEM"
                                           value="#{childNode2}"/>
                            </af:commandMenuItem>
                          </af:forEach>
                        </af:group>
                        <af:group id="g4">
                          <af:forEach var="childNode3"
                                      items="#{actionAvailable.otherActions}">
                            <af:commandMenuItem textAndAccessKey="#{resources[childNode3]}"
                                                actionListener="#{invokeActionBean.setAction}"
                                                action="#{invokeActionBean.action}"
                                                partialSubmit="false" id="cmi4">
                              <f:attribute name="ACTION_MENU_ITEM"
                                           value="#{childNode3}"/>
                            </af:commandMenuItem>
                          </af:forEach>
                        </af:group>
                        <af:group id="g5">
                          <af:commandMenuItem id="save"
                                              textAndAccessKey="#{resources.SAVE}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="false"
                                              rendered="#{actionAvailable.updateAvailable}">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="bindings.update"/>
                          </af:commandMenuItem>
                        </af:group>
                      </af:menu>
                    </af:menuBar>
                  </af:group>
                </af:panelGroupLayout>
                <af:spacer id="sp1112" width="10"/>
                <af:commandImageLink shortDesc="#{resources.PREVIOUS_TASK}"
                                     icon="/hw_images/previoustraversalarrow_ena.png"
                                     id="cil11" action="fetchPreviousTask"
                                     visible="#{param.enableNavigationButton != null}"/>
                <af:spacer id="sp112" width="10"/>
                <af:commandImageLink shortDesc="#{resources.NEXT_TASK}"
                                     icon="/hw_images/nexttraversalarrow_ena.png"
                                     id="cil12" action="fetchNextTask"
                                     visible="#{param.enableNavigationButton != null}"/>
                <af:spacer id="sp13" width="10"/>
                <af:commandImageLink shortDesc="#{resources.SHORT_DESC_CLOSE}"
                                     icon="/hw_images/close_ena.png"
                                     id="cil1211" action="closeTaskFlow"
                                     visible="#{param.enableNavigationButton != null}"/>
              </af:toolbar>
              <af:popup id="reassignPopup" contentDelivery="lazyUncached"
                        childCreation="deferred">
                <af:dialog id="reAsDg"
                           dialogListener="#{invokeActionBean.reassignAction}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           title="#{resources.REASSIGNPAGE}">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="reAsIdB" mode="REASSIGN"
                                       showActionButtons="false"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="requestInfoPopup" contentDelivery="lazyUncached"
                        childCreation="deferred">
                <af:dialog title="#{resources.INFOREQUESTEDPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.requestInfoAction}"
                           id="reqIfD">
                  <wlc:requestInfoDialog workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                         id="rqIDgC"
                                         selectedTaskId="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds[0]}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="routePopup" contentDelivery="lazyUncached"
                        childCreation="deferred">
                <af:dialog title="#{resources.ROUTEPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.routeTaskAction}"
                           id="rteDg">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="rteIdB" mode="ROUTE"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"
                                       showActionButtons="false"/>
                </af:dialog>
              </af:popup>
              <af:popup id="decomposePopup" contentDelivery="lazyUncached"
                        childCreation="deferred">
                <af:dialog title="#{pageFlowScope.ADFHumanTaskBean.decomposeDialogTitle}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.decomposeTaskAction}"
                           id="dcmpDg">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.ADFHumanTaskBean.workflowContext}"
                                       id="dcmpIdB" mode="DECOMPOSE"
                                       selectedTaskObject="#{pageFlowScope.ADFHumanTaskBean.task}"
                                       showActionButtons="false"/>
                </af:dialog>
              </af:popup>
              <af:popup id="popupEnterPasswordDialog"
                        contentDelivery="lazyUncached" childCreation="deferred">
                <af:dialog title="#{resources.ENTER_PASSWORD}"
                           dialogListener="#{invokeActionBean.validatePassword}"
                           type="okCancel" modal="true"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           closeIconVisible="false" id="pwdDlg">
                  <af:panelGroupLayout id="pgl2">
                    <af:panelFormLayout id="pfl1">
                      <af:inputText id="pwdBox" rows="1" columns="50"
                                    value="#{invokeActionBean.password}"
                                    label="#{resources.PASSWORD}" secret="true"
                                    required="true"/>
                    </af:panelFormLayout>
                  </af:panelGroupLayout>
                </af:dialog>
              </af:popup>
            </af:panelGroupLayout>
          </f:facet>
          <f:facet name="title"/>
          <f:facet name="content">
            <af:decorativeBox id="db1">
              <f:facet name="center"/>
              <f:facet name="top">
                <af:train value="#{controllerContext.currentViewPort.taskFlowContext.trainModel}"
                          id="t1"/>
              </f:facet>
            </af:decorativeBox>
          </f:facet>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
