<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:trh="http://myfaces.apache.org/trinidad/html"
          xmlns:wf="http://xmlns.oracle.com/bpel/workflow/workflow-taglib.tld"
          xmlns:wlc="http://xmlns.oracle.com/bpel/workflow/worklist"
          xmlns:tr="http://myfaces.apache.org/trinidad">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1" title="#{bindings.title.inputValue}">
      <af:messages id="m1"/>
      <af:resource type="javascript" source="/jsLibs/taskDetails.js"/>
      <af:form id="f1" usesUpload="true">
        <af:pageTemplate viewId="/BasicTemplate.jspx" id="pt1">
          <f:facet name="logo">
            <af:image source="/images/healthDistrict.jpg" id="i1"/>
          </f:facet>
          <f:facet name="userInfo">
            <tr:panelFormLayout id="pfl3" maxColumns="2" rows="2">
              <tr:panelLabelAndMessage label="Οργανισμός:" id="plam12">
                <tr:outputText value="#{bindings.Misc1.inputValue}" id="ot12"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Ομάδες:" id="plam13">
                <tr:outputText value="#{bindings.Misc2.inputValue}" id="ot13"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Όνομα Χρήστη:" id="plam14">
                <tr:outputText value="#{bindings.Misc3.inputValue}" id="ot14"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Ρόλοι:" id="plam15">
                <tr:outputText value="#{bindings.Misc4.inputValue}" id="ot15"/>
              </tr:panelLabelAndMessage>
            </tr:panelFormLayout>
          </f:facet>
          <f:facet name="task-action">
            <af:panelGroupLayout layout="vertical" id="pgl2">
              <af:toolbar visible="#{actionAvailable.toolbarAvailable}" id="t2">
                <af:group rendered="#{!((empty actionAvailable.customActions) and (empty actionAvailable.redirectActions) and (empty actionAvailable.otherActions)) || bindings.update.enabled}"
                          id="g1">
                  <af:menuBar id="mb1">
                    <af:menu id="acts" text="#{resources.TASK_ACTIONS}"
                             visible="#{actionAvailable.actionsAvailable || bindings.update.enabled}">
                      <af:group id="g2">
                        <af:forEach var="childNode1"
                                    items="#{actionAvailable.customActions}">
                          <af:commandMenuItem textAndAccessKey="#{childNode1.displayName}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="false" id="cmi2">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode1.action}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g3">
                        <af:forEach var="childNode2"
                                    items="#{actionAvailable.redirectActions}">
                          <af:commandMenuItem textAndAccessKey="#{resources[childNode2]}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="true" id="cmi1">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode2}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g4">
                        <af:forEach var="childNode3"
                                    items="#{actionAvailable.otherActions}">
                          <af:commandMenuItem textAndAccessKey="#{resources[childNode3]}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="false" id="cmi4">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode3}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g5">
                        <af:commandMenuItem id="save"
                                            textAndAccessKey="#{resources.SAVE}"
                                            actionListener="#{invokeActionBean.setAction}"
                                            action="#{invokeActionBean.action}"
                                            partialSubmit="false"
                                            rendered="#{actionAvailable.updateAvailable}">
                          <f:attribute name="ACTION_MENU_ITEM"
                                       value="bindings.update"/>
                        </af:commandMenuItem>
                      </af:group>
                    </af:menu>
                  </af:menuBar>
                </af:group>
                <af:switcher id="customActionButtons"
                             facetName="#{actionAvailable.isCustomActionButtons}">
                  <f:facet name="true">
                    <af:panelGroupLayout layout="horizontal" id="pgl3">
                      <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                               text="#{wf:getResourceValue('OK', 'bindings.customActions')}"
                                               disabled="#{!bindings.OK.enabled}"
                                               action="#{invokeActionBean.invokeOperation}"
                                               partialSubmit="false"
                                               visible="#{wf:isCustomActionAvailable('OK', 'bindings.customActions')}"
                                               id="ctb1">
                        <f:attribute name="DC_OPERATION_BINDING"
                                     value="bindings.OK"/>
                      </af:commandToolbarButton>
                    </af:panelGroupLayout>
                  </f:facet>
                </af:switcher>
                <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.CLAIM}" id="Claim"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.claimAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Claim"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="acknowledge"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.ACKNOWLEDGE}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.isFyiTask}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Acknowledge"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="resume"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.RESUME}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.resumeAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Resume"/>
                </af:commandToolbarButton>
              </af:toolbar>
              <af:popup id="reassignPopup" contentDelivery="lazyUncached">
                <af:dialog id="reAsDg"
                           dialogListener="#{invokeActionBean.reassignAction}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           title="#{resources.REASSIGNPAGE}">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="reAsIdB" mode="REASSIGN"
                                       showActionButtons="false"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="requestInfoPopup" contentDelivery="lazyUncached">
                <af:dialog title="#{resources.INFOREQUESTEDPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.requestInfoAction}"
                           id="reqIfD">
                  <wlc:requestInfoDialog workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                         id="rqIDgC"
                                         selectedTaskId="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds[0]}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="routePopup" contentDelivery="lazyUncached">
                <af:dialog title="#{resources.ROUTEPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.routeTaskAction}"
                           id="rteDg">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="rteIdB" mode="ROUTE"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"
                                       showActionButtons="false"/>
                </af:dialog>
              </af:popup>
              <af:popup id="popupEnterPasswordDialog"
                        contentDelivery="lazyUncached">
                <af:dialog title="#{resources.ENTER_PASSWORD}"
                           dialogListener="#{invokeActionBean.validatePassword}"
                           type="okCancel" modal="true"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           closeIconVisible="false" id="pwdDlg">
                  <af:panelGroupLayout id="pgl1">
                    <af:panelFormLayout id="pfl1">
                      <af:inputText id="pwdBox" rows="1" columns="50"
                                    value="#{invokeActionBean.password}"
                                    label="#{resources.PASSWORD}" secret="true"
                                    required="true"/>
                    </af:panelFormLayout>
                  </af:panelGroupLayout>
                </af:dialog>
              </af:popup>
            </af:panelGroupLayout>
          </f:facet>
          <f:facet name="title">
            <af:outputLabel value="Εκτέλεση Ακτινολογικής Εντολής" id="ol1"
                            inlineStyle="text-align:center; font-size:medium; font-weight:bold;"/>
          </f:facet>
          <f:facet name="content">
            <af:decorativeBox id="db1">
              <f:facet name="center">
                <af:panelStretchLayout id="psl1" endWidth="422px">
                  <f:facet name="center">
                    <af:panelFormLayout id="pfl2" fieldWidth="100%">
                      <af:inputText value="#{bindings.RadiologistExamination.inputValue}"
                                    label="Αναφορά Ακτινολόγου:"
                                    required="#{bindings.RadiologistExamination.hints.mandatory}"
                                    columns="#{bindings.RadiologistExamination.hints.displayWidth}"
                                    maximumLength="#{bindings.RadiologistExamination.hints.precision}"
                                    shortDesc="#{bindings.RadiologistExamination.hints.tooltip}"
                                    id="it1" rows="20"
                                    contentStyle="width:400px">
                        <f:validator binding="#{bindings.RadiologistExamination.validator}"/>
                      </af:inputText>
                    </af:panelFormLayout>
                  </f:facet>
                  <f:facet name="end">
                    <af:panelGroupLayout layout="scroll"
                                         xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
                                         id="pgl4">
                      <af:inputFile label="Εικόνα 1:" id="if1"/>
                      <af:inputFile label="Εικόνα 2:" id="if2"/>
                      <af:inputFile label="Εικόνα 3:" id="if3"/>
                      <af:inputFile label="Εικόνα 4:" id="if4"/>
                      <af:inputFile label="Εικόνα 5:" id="if5"/>
                      <af:separator id="s1"/>
                      <af:selectBooleanCheckbox value="#{bindings.IsRadReportCompleted.inputValue}"
                                                label="Ολοκλήρωση διαδικασίας:"
                                                shortDesc="#{bindings.IsRadReportCompleted.hints.tooltip}"
                                                id="sbc1"/>
                    </af:panelGroupLayout>
                  </f:facet>
                </af:panelStretchLayout>
              </f:facet>
              <f:facet name="top">
                <af:train value="#{controllerContext.currentViewPort.taskFlowContext.trainModel}"
                          id="t1"/>
              </f:facet>
            </af:decorativeBox>
          </f:facet>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
