<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
          xmlns:c="http://java.sun.com/jsp/jstl/core"
          xmlns:trh="http://myfaces.apache.org/trinidad/html"
          xmlns:wf="http://xmlns.oracle.com/bpel/workflow/workflow-taglib.tld"
          xmlns:wlc="http://xmlns.oracle.com/bpel/workflow/worklist"
          xmlns:tr="http://myfaces.apache.org/trinidad">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1" title="#{bindings.title.inputValue}">
      <af:messages id="m1"/>
      <af:resource type="javascript" source="/jsLibs/taskDetails.js"/>
      <af:form id="f1">
        <af:pageTemplate viewId="/BasicTemplate.jspx" id="pt1">
          <f:facet name="logo">
            <af:image source="/images/healthDistrict.jpg" id="i1"/>
          </f:facet>
          <f:facet name="userInfo">
            <tr:panelFormLayout id="panelFormLayout1" maxColumns="2" rows="2">
              <tr:panelLabelAndMessage label="Οργανισμός:"
                                       id="panelLabelAndMessage1">
                <tr:outputText
                               id="outputText1"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Ομάδες:"
                                       id="panelLabelAndMessage2">
                <tr:outputText
                               id="outputText2"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Όνομα Χρήστη:"
                                       id="panelLabelAndMessage3">
                <tr:outputText
                               id="outputText3"/>
              </tr:panelLabelAndMessage>
              <tr:panelLabelAndMessage label="Ρόλοι:"
                                       id="panelLabelAndMessage4">
                <tr:outputText
                               id="outputText4"/>
              </tr:panelLabelAndMessage>
            </tr:panelFormLayout>
          </f:facet>
          <f:facet name="task-action">
            <af:panelGroupLayout layout="vertical" id="pgl3">
              <af:toolbar visible="#{actionAvailable.toolbarAvailable}" id="t2">
                <af:group rendered="#{!((empty actionAvailable.customActions) and (empty actionAvailable.redirectActions) and (empty actionAvailable.otherActions)) || bindings.update.enabled}"
                          id="g1">
                  <af:menuBar id="mb1">
                    <af:menu id="acts" text="#{resources.TASK_ACTIONS}"
                             visible="#{actionAvailable.actionsAvailable || bindings.update.enabled}">
                      <af:group id="g2">
                        <af:forEach var="childNode1"
                                    items="#{actionAvailable.customActions}">
                          <af:commandMenuItem textAndAccessKey="#{childNode1.displayName}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="false" id="cmi2">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode1.action}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g3">
                        <af:forEach var="childNode2"
                                    items="#{actionAvailable.redirectActions}">
                          <af:commandMenuItem textAndAccessKey="#{resources[childNode2]}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="true" id="cmi1">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode2}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g4">
                        <af:forEach var="childNode3"
                                    items="#{actionAvailable.otherActions}">
                          <af:commandMenuItem textAndAccessKey="#{resources[childNode3]}"
                                              actionListener="#{invokeActionBean.setAction}"
                                              action="#{invokeActionBean.action}"
                                              partialSubmit="false" id="cmi4">
                            <f:attribute name="ACTION_MENU_ITEM"
                                         value="#{childNode3}"/>
                          </af:commandMenuItem>
                        </af:forEach>
                      </af:group>
                      <af:group id="g5">
                        <af:commandMenuItem id="save"
                                            textAndAccessKey="#{resources.SAVE}"
                                            actionListener="#{invokeActionBean.setAction}"
                                            action="#{invokeActionBean.action}"
                                            partialSubmit="false"
                                            rendered="#{actionAvailable.updateAvailable}">
                          <f:attribute name="ACTION_MENU_ITEM"
                                       value="bindings.update"/>
                        </af:commandMenuItem>
                      </af:group>
                    </af:menu>
                  </af:menuBar>
                </af:group>
                <af:switcher id="customActionButtons"
                             facetName="#{actionAvailable.isCustomActionButtons}">
                  <f:facet name="true">
                    <af:panelGroupLayout layout="horizontal" id="pgl2">
                      <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                               text="#{wf:getResourceValue('OK', 'bindings.customActions')}"
                                               disabled="#{!bindings.OK.enabled}"
                                               action="#{invokeActionBean.invokeOperation}"
                                               partialSubmit="false"
                                               visible="#{wf:isCustomActionAvailable('OK', 'bindings.customActions')}"
                                               id="ctb1">
                        <f:attribute name="DC_OPERATION_BINDING"
                                     value="bindings.OK"/>
                      </af:commandToolbarButton>
                    </af:panelGroupLayout>
                  </f:facet>
                </af:switcher>
                <af:commandToolbarButton actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.CLAIM}" id="Claim"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.claimAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Claim"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="acknowledge"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.ACKNOWLEDGE}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.isFyiTask}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Acknowledge"/>
                </af:commandToolbarButton>
                <af:commandToolbarButton id="resume"
                                         actionListener="#{invokeActionBean.setOperation}"
                                         text="#{resources.RESUME}"
                                         action="#{invokeActionBean.invokeOperation}"
                                         partialSubmit="false"
                                         visible="#{actionAvailable.resumeAvailable}">
                  <f:attribute name="DC_OPERATION_BINDING"
                               value="bindings.Resume"/>
                </af:commandToolbarButton>
              </af:toolbar>
              <af:popup id="reassignPopup" contentDelivery="lazyUncached">
                <af:dialog id="reAsDg"
                           dialogListener="#{invokeActionBean.reassignAction}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           title="#{resources.REASSIGNPAGE}">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="reAsIdB" mode="REASSIGN"
                                       showActionButtons="false"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="requestInfoPopup" contentDelivery="lazyUncached">
                <af:dialog title="#{resources.INFOREQUESTEDPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.requestInfoAction}"
                           id="reqIfD">
                  <wlc:requestInfoDialog workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                         id="rqIDgC"
                                         selectedTaskId="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds[0]}"/>
                </af:dialog>
              </af:popup>
              <af:popup id="routePopup" contentDelivery="lazyUncached">
                <af:dialog title="#{resources.ROUTEPAGE}"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           dialogListener="#{invokeActionBean.routeTaskAction}"
                           id="rteDg">
                  <wlc:identityBrowser identityBrowserView="#{pageFlowScope.identityBrowserView}"
                                       workflowContext="#{pageFlowScope.taskFlowReassignBean.workflowContext}"
                                       id="rteIdB" mode="ROUTE"
                                       selectedTaskIds="#{pageFlowScope.taskFlowReassignBean.selectedTaskIds}"
                                       showActionButtons="false"/>
                </af:dialog>
              </af:popup>
              <af:popup id="popupEnterPasswordDialog"
                        contentDelivery="lazyUncached">
                <af:dialog title="#{resources.ENTER_PASSWORD}"
                           dialogListener="#{invokeActionBean.validatePassword}"
                           type="okCancel" modal="true"
                           cancelTextAndAccessKey="#{resources.CANCEL_AK}"
                           affirmativeTextAndAccessKey="#{resources.OK_AK}"
                           closeIconVisible="false" id="pwdDlg">
                  <af:panelGroupLayout id="pgl1">
                    <af:panelFormLayout id="pfl4">
                      <af:inputText id="pwdBox" rows="1" columns="50"
                                    value="#{invokeActionBean.password}"
                                    label="#{resources.PASSWORD}" secret="true"
                                    required="true"/>
                    </af:panelFormLayout>
                  </af:panelGroupLayout>
                </af:dialog>
              </af:popup>
            </af:panelGroupLayout>
          </f:facet>
          <f:facet name="title">
            <af:outputLabel value="Εκτέλεση Ακτινολογικής Εντολής" id="ol1"
                            inlineStyle="text-align:center; font-size:medium; font-weight:bold;"/>
          </f:facet>
          <f:facet name="content">
            <af:decorativeBox id="db1">
              <f:facet name="center">
                <af:panelStretchLayout id="psl1" startWidth="201px"
                                       endWidth="188px">
                  <f:facet name="center">
                    <af:panelHeader text="Στοιχεία Ακτινογραφίας" id="ph2">
                      <af:panelFormLayout id="pfl3">
                        <af:selectBooleanCheckbox value="#{bindings.IsEmergency.inputValue}"
                                                  label="Επείγον Περιστατικό:"
                                                  shortDesc="#{bindings.IsEmergency.hints.tooltip}"
                                                  id="sbc1" readOnly="true"/>
                        <af:panelLabelAndMessage label="Κωδικός CPT:"
                                                 id="plam15">
                          <af:outputText value="#{bindings.CPTCode.inputValue}"
                                         id="ot15"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Περιγραφή CPT:"
                                                 id="plam16">
                          <af:outputText value="#{bindings.CPTDescription.inputValue}"
                                         id="ot16"/>
                        </af:panelLabelAndMessage>
                        <af:inputText value="#{bindings.Misc5.inputValue}"
                                      label="Παρατηρήσεις Ιατρού:"
                                      required="#{bindings.Misc5.hints.mandatory}"
                                      columns="#{bindings.Misc5.hints.displayWidth}"
                                      maximumLength="#{bindings.Misc5.hints.precision}"
                                      shortDesc="#{bindings.Misc5.hints.tooltip}"
                                      id="it4" rows="5">
                          <f:validator binding="#{bindings.Misc5.validator}"/>
                        </af:inputText>
                      </af:panelFormLayout>
                    </af:panelHeader>
                  </f:facet>
                  <f:facet name="start">
                    <af:panelHeader text="Στοιχεία Ασθενή" id="ph3">
                      <af:panelFormLayout id="pfl1">
                        <af:panelLabelAndMessage label="Α.M.K.A.:"
                                                 id="plam2">
                          <af:outputText value="#{bindings.PatientAccountNumber.inputValue}"
                                         id="ot10"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Α.Δ.Τ.:"
                                                 id="plam7">
                          <af:outputText value="#{bindings.PatientId.inputValue}"
                                         id="ot1"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Eπώνυμο:"
                                                 id="plam8">
                          <af:outputText value="#{bindings.LastName.inputValue}"
                                         id="ot11"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Όνομα:"
                                                 id="plam11">
                          <af:outputText value="#{bindings.FirstName.inputValue}"
                                         id="ot6"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Πατρώνυμο:" id="plam17">
                          <af:outputText value="#{bindings.FathersName.inputValue}"
                                         id="ot17"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Hμ/νία γέννησης:"
                                                 id="plam3">
                          <af:outputText value="#{bindings.DateAndTimeOfBirth.inputValue}"
                                         id="ot9"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Email:"
                                                 id="plam18">
                          <af:outputText value="#{bindings.PatientEmail.inputValue}"
                                         id="ot18"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Τηλέφωνο:"
                                                 id="plam20">
                          <af:outputText value="#{bindings.PatientPhone.inputValue}"
                                         id="ot20"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Κινητό:"
                                                 id="plam19">
                          <af:outputText value="#{bindings.PatientMobile.inputValue}"
                                         id="ot19"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Διεύθυνση 1:"
                                                 id="plam5">
                          <af:outputText value="#{bindings.AddressLine1.inputValue}"
                                         id="ot5"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Διεύθυνση 2:"
                                                 id="plam1">
                          <af:outputText value="#{bindings.AddressLine2.inputValue}"
                                         id="ot3"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Πόλη:"
                                                 id="plam4">
                          <af:outputText value="#{bindings.City.inputValue}"
                                         id="ot4"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Νομός:"
                                                 id="plam6">
                          <af:outputText value="#{bindings.State.inputValue}"
                                         id="ot8"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="T.Κ.:"
                                                 id="plam10">
                          <af:outputText value="#{bindings.PostalCode.inputValue}"
                                         id="ot2"/>
                        </af:panelLabelAndMessage>
                        <af:panelLabelAndMessage label="Χώρα:"
                                                 id="plam9">
                          <af:outputText value="#{bindings.Country.inputValue}"
                                         id="ot7"/>
                        </af:panelLabelAndMessage>
                      </af:panelFormLayout>
                    </af:panelHeader>
                  </f:facet>
                  <f:facet name="end">
                    <af:panelGroupLayout layout="scroll"
                                         xmlns:af="http://xmlns.oracle.com/adf/faces/rich"
                                         id="pgl4">
                      <af:panelHeader text="Θεράπων Ιατρός" id="ph1">
                        <af:panelFormLayout id="pfl2">
                          <af:panelLabelAndMessage label="Επώνυμο:" id="plam13">
                            <af:outputText value="#{bindings.Misc2.inputValue}"
                                           id="ot13"/>
                          </af:panelLabelAndMessage>
                          <af:panelLabelAndMessage label="Όνομα:" id="plam12">
                            <af:outputText value="#{bindings.Misc1.inputValue}"
                                           id="ot12"/>
                          </af:panelLabelAndMessage>
                          <af:panelLabelAndMessage label="Α.Μ.Κ.Α:" id="plam14">
                            <af:outputText value="#{bindings.DoctorAccountNumber.inputValue}"
                                           id="ot14"/>
                          </af:panelLabelAndMessage>
                        </af:panelFormLayout>
                      </af:panelHeader>
                      <af:panelHeader text="Ακτινολόγος Ιατρός" id="ph4">
                        <af:panelFormLayout id="pfl5">
                          <f:facet name="footer"/>
                          <af:inputText value="#{bindings.Misc4.inputValue}"
                                        label="Επώνυμο:"
                                        required="#{bindings.Misc4.hints.mandatory}"
                                        columns="#{bindings.Misc4.hints.displayWidth}"
                                        maximumLength="#{bindings.Misc4.hints.precision}"
                                        shortDesc="#{bindings.Misc4.hints.tooltip}"
                                        id="it2" readOnly="true">
                            <f:validator binding="#{bindings.Misc4.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.Misc3.inputValue}"
                                        label="Όνομα:"
                                        required="#{bindings.Misc3.hints.mandatory}"
                                        columns="#{bindings.Misc3.hints.displayWidth}"
                                        maximumLength="#{bindings.Misc3.hints.precision}"
                                        shortDesc="#{bindings.Misc3.hints.tooltip}"
                                        id="it1" readOnly="true">
                            <f:validator binding="#{bindings.Misc3.validator}"/>
                          </af:inputText>
                          <af:inputText value="#{bindings.RadiologistAccountNumber.inputValue}"
                                        label="A.Μ.Κ.Α.:"
                                        required="#{bindings.RadiologistAccountNumber.hints.mandatory}"
                                        columns="#{bindings.RadiologistAccountNumber.hints.displayWidth}"
                                        maximumLength="#{bindings.RadiologistAccountNumber.hints.precision}"
                                        shortDesc="#{bindings.RadiologistAccountNumber.hints.tooltip}"
                                        id="it3" readOnly="true">
                            <f:validator binding="#{bindings.RadiologistAccountNumber.validator}"/>
                          </af:inputText>
                        </af:panelFormLayout>
                      </af:panelHeader>
                    </af:panelGroupLayout>
                  </f:facet>
                </af:panelStretchLayout>
              </f:facet>
              <f:facet name="top">
                <af:train value="#{controllerContext.currentViewPort.taskFlowContext.trainModel}"
                          id="t1"/>
              </f:facet>
            </af:decorativeBox>
          </f:facet>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
