<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <af:pageTemplateDef var="attrs">
    <af:xmlContent>
      <component xmlns="http://xmlns.oracle.com/adf/faces/rich/component">
        <display-name>BasicTemplate</display-name>
        <facet>
          <facet-name>logo</facet-name>
        </facet>
        <facet>
          <facet-name>userInfo</facet-name>
        </facet>
        <facet>
          <facet-name>task-action</facet-name>
        </facet>
        <facet>
          <facet-name>title</facet-name>
        </facet>
        <facet>
          <facet-name>content</facet-name>
        </facet>
      </component>
    </af:xmlContent>
    <af:panelStretchLayout topHeight="50px" id="pt_psl1">
      <f:facet name="top">
        <af:panelFormLayout id="pt_pfl1" maxColumns="3" rows="1">
          <af:facetRef facetName="logo"/>
          <af:facetRef facetName="userInfo"/>
          <af:facetRef facetName="task-action"/>
        </af:panelFormLayout>
      </f:facet>
      <f:facet name="center">
        <!-- id="af_one_column_header_stretched"  -->
        <af:decorativeBox id="pt_db1" theme="light">
          <f:facet name="center">
            <af:decorativeBox id="pt_db2" theme="light">
              <f:facet name="center">
                <af:decorativeBox id="pt_db3" theme="light">
                  <f:facet name="center">
                    <af:facetRef facetName="content"/>
                  </f:facet>
                  <f:facet name="top">
                    <af:facetRef facetName="title"/>
                  </f:facet>
                </af:decorativeBox>
              </f:facet>
            </af:decorativeBox>
          </f:facet>
        </af:decorativeBox>
      </f:facet>
    </af:panelStretchLayout>
  </af:pageTemplateDef>
</jsp:root>
