<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1"
          xmlns:f="http://java.sun.com/jsf/core"
          xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document id="d1">
      <af:form id="f1">
        <af:pageTemplate viewId="/BasicTemplate.jspx" id="pt1">
          <f:facet name="logo"/>
          <f:facet name="userInfo"/>
          <f:facet name="task-action"/>
          <f:facet name="title"/>
          <f:facet name="content">
            <af:decorativeBox id="db1">
              <f:facet name="center"/>
              <f:facet name="top">
                <af:train value="#{controllerContext.currentViewPort.taskFlowContext.trainModel}"
                          id="t1"/>
              </f:facet>
            </af:decorativeBox>
          </f:facet>
        </af:pageTemplate>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
